/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  
  
  
  /****************/
  /* Section 1 */
  /****************/
  

  main section:nth-of-type(1) {
    position: relative;
    display: grid;
    bottom: 0;
  }
  main section:nth-of-type(1) div {
    position: absolute;
    display: grid;
    bottom: 0;
  }
  main > section:nth-of-type(1) > img:first-of-type {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

  
  }

  main section:nth-of-type(1) > div h2 {
    order: 2;
    margin-left: 1em;
    font-family:var(--oceanwide-semibold);
    color:var(--color-text2) ;
  }
  main section:nth-of-type(1) > div p {
    order: 1;
    font-size: 15px;
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin: 0em 1.5em;
    color:var(--color-text2);
    line-height:1.75;
  }

  main section:nth-of-type(1) > div a {
    order: 3;
    text-decoration: none;
    line-height:1.75;
    color:var(--color-text); /* moest ook nog hier anders deed ie het niet */
    font-family:var(--oceanwide-regular);
    background-color:var(--eerste-button);
    border-radius: 10em;
    margin: 1.5em 1em;
    padding: 0.5em 1em;
    padding-left: 1.5em;
    max-width: 8em;
    text-align: center;

  }
section:first-of-type > section div a {
  transition: 0.8s;
}

section:nth-of-type(1) a::before {
  content: "";
  left: -100%;
  transition: left 0.5s ease;
  
}
section:nth-of-type(1) a:hover::before {
  left: 0;
}
 main section:nth-of-type(1) a:hover {
  background-color: #797979;
 
}

  /****************/
  /* Section 2 featured items */
  /****************/

main section:nth-of-type(2) {
  position: relative;
  margin-top: 8em;
}

section:nth-of-type(2) li {
  display: grid;

}

section:nth-of-type(2) ul li p:nth-of-type(2){
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10em;
  border: 0.1em solid #959595;
  padding: 0.5em 1em;
  color: var(--color-text);
  background-color: var(--eerste-button);

}

section:nth-of-type(2) p {
  order: -2;
   color:var( --color-p);
   text-transform: uppercase;
   font-family:var(--oceanwide-regular);
   font-size: 12px;
   margin-top: 0;
   margin-left: 1.5em;
}

section:nth-of-type(2) h2 {
  order: 1;
  font-family:var(--oceanwide-semibold);
  margin-left: 1em;
}


section:nth-of-type(2) h3 {
  order: -1;
  margin-left: 1em;
  font-size: 1em;
  font-family:var(--oceanwide-regular);

}
section:nth-of-type(2) img {
width: 100vw;
height: 100vh;
object-fit: cover;

}
main section:nth-of-type(2) ul {
  display: flex;
  overflow-x: auto;
 scroll-snap-type: x mandatory;


}

main section:nth-of-type(2) li {
 display:flex;
 position: relative;
 flex-direction:column-reverse;
 flex-shrink:0;
 align-items:center;
 gap:.25em;
 scroll-snap-align: start;
 
}

section:nth-of-type(2) img {
 max-width: 30em;
 max-height: 30em;
 object-fit: contain;

}
  /****************/
  /* Section 3 collection */
  /****************/


section:nth-of-type(3) h2 {
  font-family:var(--oceanwide-semibold);
  margin-left: 1em;
}


section:nth-of-type(3) h3 {
  order: -2;
  margin-left: 1em;
  font-size: 1em;
  font-family:var(--oceanwide-regular);

}
section:nth-of-type(3) p {
  order: -3;
   color:var( --color-p);
   text-transform: uppercase;
   font-family:var(--oceanwide-regular);
   font-size: 0.8em;
   margin-left: 1.2em;
   margin-top: 0;

}
section:nth-of-type(3) > section p {
  padding-top: 5em;
   color:var( --color-p);
   text-transform: uppercase;
   font-family:var(--oceanwide-regular);
   font-size: 0.8em;
   margin-left: 1.5em;
   margin-top: 0;

}
main section:nth-of-type(3) a {
  display: flex;
  max-width: fit-content;
  text-align: center;
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  border-radius: 10em;

  margin-bottom: 1em;
}
main section:nth-of-type(3) ul {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;

 }

 main section:nth-of-type(3) li {
  display:flex;
  flex-direction:column-reverse;
  flex-shrink:0;
  align-items:center;
  gap:.25em;
  scroll-snap-align: start;
  align-items: flex-start;
 }

 section:nth-of-type(3) img {
  max-width: 40em;
  max-height: 30em;
  object-fit: contain;
  margin-left: 1em;

}

main section:nth-of-type(3) > img {
  height: 100vh;
  width: 100vw;

}
  /****************/
  /* Section 4  */
  /****************/

  section:nth-of-type(4) h2 {
    padding-left: 1em;
 }
  section:nth-of-type(4) p {
    order: 1;
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0;
 }

 section:nth-of-type(4) h3 {
  order: 2;
  padding-left: 1em;
  font-family:var(--oceanwide-regular);
  
 }
 section:nth-of-type(4) img {
  order: 3;
 
}


 main section:nth-of-type(4) a {
  display: flex;
  max-width: fit-content;
  margin-left: 2.5em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  margin-right: 2em;
  margin-bottom: 0.5em;
  border-radius: 10em;
}
main section:nth-of-type(4) ul {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

main section:nth-of-type(4) li {
 display:flex;
 flex-direction:column-reverse;
 flex-shrink:0;
 gap:.25em;
 scroll-snap-align: center;
align-items: flex-start;
}


 section:nth-of-type(4) img {
  max-height: 30em;
  object-fit: contain;

}


  ul:nth-of-type(4) p {
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
 }
 ul:nth-of-type(4) h2 {
   font-family:var(--oceanwide-semibold);
   margin-left: 1em;
 }


 ul:nth-of-type(4) a {
  display: inline-block;
  
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1em;
  border-radius: 10em;
}

ul:nth-of-type(4) > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

ul:nth-of-type(4) img {
  transition: all 2s;
  
}
ul:nth-of-type(4):hover img {
  transform: scale(1.2); 
}


  ul:nth-of-type(4) p {
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
 }
 ul:nth-of-type(4) h2 {
   font-family:var(--oceanwide-semibold);
   margin-left: 1em;
   
 }

 ul:nth-of-type(4) a {
  display: inline-block;
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  border-radius: 10em;
}

ul:nth-of-type(4) > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  /****************/
  /* Section 5  */
  /****************/

section:nth-of-type(5) section {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

main section:nth-of-type(5) {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 2em;
  list-style: none;
  padding: 0 1em;
}

section:nth-of-type(5) ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  list-style: none;
}
section:nth-of-type(5) li{
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  list-style: none;
}

section:nth-of-type(5) img {
  max-width: 50em;
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
section:nth-of-type(5) > h2:first-of-type {
  margin-top: 3em;
  margin-bottom: 0;
}

section:nth-of-type(5) p {
  font-family:var(--oceanwide-regular);
  
}
main section:nth-of-type(5) a {
  display: flex;
  max-width: fit-content;
  margin-left: 2.5em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  margin-right: 2em;
  margin-bottom: 0.5em;
  border-radius: 10em;
}


section:nth-of-type(5) ul img {
  transition: all 2s;
 
}
section:nth-of-type(5) section:hover img {
  transform: scale(1.2);
}




  /****************/
  /* Section 6  */
  /****************/


section:nth-of-type(6) ul {
  display: flex;
  overflow-x: auto;
  margin-bottom: 4em;
  
}
section:nth-of-type(6) li {
  display:flex;
  flex-direction:column-reverse;
  flex-basis:5em;
  flex-shrink:0;
  gap:.25em;
  scroll-snap-align: center;
 }

section:nth-of-type(6) p {
  color:var( --color-p);
  /* text-transform: uppercase; */
  font-family:var(--oceanwide-regular);
  padding-left: 1em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
section:nth-of-type(6)  h2 {
  font-family:var(--oceanwide-semibold);
  margin-left: 2em;
  font-size: 1.4em;
 }
section:nth-of-type(6) h3 {
 font-family:var(--oceanwide-semibold);
 margin-left: 1em;
 font-size: 1.4em;
}

section:nth-of-type(6) img {
  height: 20em;
  width: 18em;
  /* width: 100%;
  height: 100%; */
  order: 3;
  object-fit: cover;
  margin-left: 1em;
}

section:nth-of-type(6) ul li article a {
  margin-left: 12em;
  margin-top: 0;
  text-decoration: none;
  color: #111;
  padding: 1em 1.5em;
  border-radius: 10em;
  border: 0.1em solid rgb(222, 222, 222);
  font-family:var(--oceanwide-regular);
}
section:nth-of-type(6) article a:first-of-type{
  background-color: var(--button-color--black);
  color: var(--button-color);
  padding: 1em 1.5em;
  border-radius: 10em;
  border: 0.1em solid rgb(222, 222, 222);
  font-family:var(--oceanwide-regular);
}

  /****************/
  /* Media query's */
  /****************/

@media (min-width:38em) { 
  main section:nth-of-type(5) {
   grid-template-columns: repeat(2, 1fr);  /*  2 kolommen met de zelfde breedte */
  }

}

@media (min-width:54em) {
  main section:nth-of-type(5){
    flex-direction: column;
  }
}

@media (min-width:54em) {
	body {
		background-color: #ffffff;}

    main section:nth-of-type(2) img {
      width: 100%;
      height: auto;
    }
    main section:nth-of-type(2) ul {
      overflow-x: hidden;
      justify-content: center;
      gap: 0.3em;
      /* max-width: 1200px; */
      padding: 0 1em;
    }
    
    section:nth-of-type(2) li {
     flex-basis: 25%;
     flex-shrink: 1;
      max-width: 300px;
   
    }
    /* carousel white shirts */
    main section:nth-of-type(3) ul {
      overflow-x: hidden;
      justify-content: center;
      gap: 0.3em;
      padding: 0 1em;
    }
    
    section:nth-of-type(3) li {
     flex-basis: 25%;
     flex-shrink: 1;
      max-width: 300px;
   
    }
	 main section:nth-of-type(3) img {
     width: 100%;
    
     height: auto;
     margin: 0;
   }

   main section:nth-of-type(4) ul {
    overflow-x: hidden;
    justify-content: center;
    gap: 0.3em;
    padding: 0 1em;
  }
  section:nth-of-type(4) li {
    flex-basis: 25%;
    flex-shrink: 1;
     max-width: 300px;
  
   }
  main section:nth-of-type(4) img {
     width: 100%;
    height: auto; 
  }


   section:nth-of-type(6) ul {
    overflow-x: hidden;
    justify-content: center;
    gap: 0.4em;
    padding: 0 1em;
   }

   section:nth-of-type(6) li {
    flex-basis: 25%;
    flex-shrink: 1;
     max-width: 300px;
   }

  }


  @media (max-width:54em) {
    section:nth-of-type(6) article a:first-of-type {
      display: none;
     }

  }

