/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-text2:#eee;
      --footer-color-input:#8e8e8e;
      --footer-color:#111;
      --color-background:#eee;
      --color-header-text:#ffffff;
      --border--radius: 26px;
      --color-p:#8e8e8e;
      --button-color:#ffffff;
      --button-color--black:#111;
     
  }
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  

  section:first-of-type {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    bottom: 0;
  }

  section:first-of-type > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  section:first-of-type > section {
    grid-row: 1 / 2;  /*eerste rij 2de colomn */
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    margin-top: 20em;
    margin-right: 10em;
    color:var(--color-text2);
  }

  section:first-of-type > section h1 {
    order: 2; 
    font-size: 24px;    
    font-family:var(--oceanwide-semibold);
    line-height:1.75;
    margin-left: 1em;
    /* padding:2vw 2.5vw 0; */
  }

  section:first-of-type > section p {
    font-size: 15px;
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
    /* padding:0 2.5vw 2.5vw; */
    line-height:1.75;
  }

  section:first-of-type > section a {
    order: 3;
    text-decoration: none;
    line-height:1.75;
    color:var(--color-text); /* moest ook nog hier anders deed ie het niet */
    font-family:var(--oceanwide-regular);
    background-color:var(--button-color);
    border-radius: 10em;
    margin-left: 1.5em;
    padding: 0.5em 1em;
    padding-left: 1.5em;
  }


  /****************/
  /* Section 2 featured items */
  /****************/

/* section:nth-of-type(2) {
  position: relative;
} */

section:nth-of-type(2) p {
   color:var( --color-p);
   text-transform: uppercase;
   font-family:var(--oceanwide-regular);
   font-size: 12px;
   margin-top: 5em;
   margin-left: 1.5em;
}
section:nth-of-type(2) h2 {
  font-family:var(--oceanwide-semibold);
  margin-left: 1em;
}

section:nth-of-type(2) span {
  font-family:var(--oceanwide-regular);
  background-color:var(--button-color);
  /* position: absolute;  */
  top: 6em;
  left: 2em;
  padding: 0.5em 1em;
  border-radius: 10em;
}
section:nth-of-type(2) h3 {
  margin-left: 1em;
  font-family:var(--oceanwide-regular);

}


  /****************/
  /* Section 3 collection */
  /****************/

/* section:nth-of-type(3) {
  position: relative;
} */


section:nth-of-type(3) h2 {
  font-family:var(--oceanwide-semibold);
  margin-left: 1em;
}


section:nth-of-type(3) h3 {
  order: -1;
  margin-left: 1em;
  font-family:var(--oceanwide-regular);

}
section:nth-of-type(3) p {
  order: -2;
   color:var( --color-p);
   text-transform: uppercase;
   font-family:var(--oceanwide-regular);
   margin-left: 1em;
}
section:nth-of-type(3) a {
  display: inline-block;
  
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  border-radius: 10em;
}
section:nth-of-type(3) ul {
   display: flex;
   overflow-x: auto;
   
  
  
 }

 section:nth-of-type(3) li {
  display:flex;
  flex-direction:column-reverse;
  flex-basis:5em;
  flex-shrink:0;
  align-items:center;
  gap:.25em;
  scroll-snap-align: center;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* overflow-x: scroll;
  cursor: pointer; */
  /* doordat in de section first of type grid staat moet hier block */
  /* display: block; */
 }
 section:nth-of-type(3) section > img {
  
  /* height: 350px;
  width: 500px;  */
  /* display: inline-block; */

  object-fit: cover;
  margin-left: 1em;

}

  /****************/
  /* Section 4  */
  /****************/
  /* section:nth-of-type(4) {
    position: relative;
  } */
  section:nth-of-type(4) p {
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
 }
 section:nth-of-type(4) h3 {
   font-family:var(--oceanwide-regular);
   margin-left: 1em;
 }

 section:nth-of-type(4) a {
  display: inline-block;
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  margin-right: 2em;
  margin-bottom: 0.5em;
  border-radius: 10em;
}

  /****************/
  /* Section 5  */
  /****************/

  /* section:nth-of-type(5) {
    position: relative;
  } */
  section:nth-of-type(5) p {
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
 }
 section:nth-of-type(5) h2 {
   font-family:var(--oceanwide-semibold);
   margin-left: 1em;
 }

 /* voor beide sections man en vrouw */
 section:nth-of-type(5) div, p {
  font-family:var(--oceanwide-semibold);
  padding-left: 0.5em;
}

 section:nth-of-type(5) a {
  display: inline-block;
  
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1em;
  border-radius: 10em;
}

section:nth-of-type(5) > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
  /****************/
  /* Section 6  */
  /****************/

  /* section:nth-of-type(6) {
    position: relative;
  } */
  section:nth-of-type(6) p {
    color:var( --color-p);
    text-transform: uppercase;
    font-family:var(--oceanwide-regular);
    margin-left: 1em;
 }
 section:nth-of-type(6) h2 {
   font-family:var(--oceanwide-semibold);
   margin-left: 1em;
 }

 section:nth-of-type(6) a {
  display: inline-block;
  
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1.5em;
  border-radius: 10em;
}

section:nth-of-type(6) > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
section:nth-of-type(6) a {
  display: inline-block;
  
  margin-left: 1em;
  color:var(--button-color);
  background-color:var(--button-color--black);
  font-family:var(--oceanwide-regular);
  padding: 1em 1em;
  border-radius: 10em;
}

  /****************/
  /* Section 7  */
  /****************/

section:nth-of-type(7) div {
 white-space: nowrap;
 /* overflow: hidden; */
 overflow-x: scroll;
 cursor: pointer;
}

/* section:nth-of-type(7) {
  position: relative;
} */


section:nth-of-type(7) p {
  color:var( --color-p);
  /* text-transform: uppercase; */
  font-family:var(--oceanwide-regular);
  margin-left: 1em;
}
section:nth-of-type(7) h3, h2 {
 font-family:var(--oceanwide-semibold);
 margin-left: 1em;
}

section:nth-of-type(7) div > img {
  height: 140px;
  object-fit: cover;
  margin-left: 1em;
  
}

footer{
  background-color:var(--footer-color);
  color:var(--color-text2);
}
footer input{
  background-color:var(--footer-color-input);
  color: white;
}
footer a{
  text-decoration: none;
  background-color:var(--footer-color-input);
  color:var(--color-text2);
}