/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#eee;
      --color-header-text:#ffffff;
      --border--radius: 26px;
      --oceanwide-regular: 'Oceanwide-Regular';
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */

  .Tassen {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
  }
.grid-layout{
    display: grid;
    
}
.header-tekst{
    position: absolute;
    bottom: 15em;
    right: 13em;
    color:var(--color-header-text);

}

p {
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--oceanwide-regular);
    /* kleur tekst staat bij */
}
h1 {
    font-size: 24px;
}

button{
    /* display: inline-block; */
    font-size: 16px;
    padding: 15px 30px 11px;
    border-radius:var(--border--radius);
    border: none;
}
