/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled){
	cursor: pointer;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-header-text:#ffffff;
	--menu-gradient:rgb(234, 38, 38);
	
}
body{

background-color: #eee;
}


/****************/
/* JOUW STYLING */
/****************/


header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	
	/* gap: 5em; */
	/* flex-wrap: wrap;  */
	
}

header a{
	display: block;
	text-decoration: none;
	color:var(--color-header-text);
	padding:.5em 0;
		
		
	  
}
/*  */


nav {
	/* display: flex; */
	flex-grow: 1;
	padding: 1em;
	display: grid;
	align-items: start;
	gap: 1em;
}

nav ul {
	margin: 0;

	list-style: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

  padding:4em 1em 0;

  
  display:flex;
  flex-wrap:wrap;
  gap:1em;
  align-content:start;
  
  background:var(--menu-gradient);
  
 
  
/*  inset: 0; is alle top,bottom,left, right bij elkaar  */
  /* JOUW CODE HIER - stap 2 */
  translate: 100%;
/*  translate:0 100%; is x=0 en y=100 as  */

  
  /* JOUW CODE HIER - stap 4 */
  transition: 1s;
}


/* nav.toonMenu ul {
	
	translate: 0%;
	
  } */
nav a {
	display: flex;
	align-items: center;
	column-gap: .25em;
	border-bottom: solid 1px;
}



/* header nav ul{
	display: flex;

	justify-content: right;
} */
/* header nav li{
	
	margin-left: 2em;
} */
header img{
	width: 1.5em;
	height: 1.5em;
	
  
  /* padding:.75em 0 .75em 2.75em; */
}