/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled){
	cursor: pointer;
}


@font-face {
	font-family: 'Oceanwide-Semibold';
	src: url(../fonts/Oceanwide-Semibold.woff2);
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Oceanwide-regular';
	src: url(../fonts/oceanwide-regular.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--oceanwide-semibold:'Oceanwide-Semibold';
	--oceanwide-regular:'Oceanwide-regular';
	--color-text:#111;
	--color-background:white;
	--scherm-background:#fff;
	--color-header-text:#ffffff;
	--menu-gradient:rgb(234, 38, 38);
	--menu-color:#ababab;
	
}

body{
	margin:0;
    background-color:var(--scherm-background);
}
/****************/
/* JOUW STYLING */
/****************/

header{
	min-height:4em;
    padding:0 1em;
    line-height:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
/* alle links in de header */
header a{
	display: block;
	text-decoration: none;
	color:var(--color-text);
	padding:.5em 0;
	font-weight: bold;
    font-family: var(--oceanwide-semibold);		
}

/* menu  */
nav {
	padding: 1em;
	display: grid;
	gap: 1em;
	/* z-index: 999; */
}

nav img {
	height: 0.5em;
    width: 0.5em;
}

nav ul {
	z-index: 1000;
	position: fixed;
	margin-left: 3em;
	margin-top: 0;
	margin-bottom: 0;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    padding:4em 1em 0;
	font-size: 1.5em;
    display:flex;
    /* flex-wrap:wrap; */
    gap:1em;
    align-content:start;
    /* background-color:var(--color-background); */
	background-color: white;

  translate: 100%;
/*  translate:0 100%; is x=0 en y=100 as  */
  transition: 1s;
}

/* zorgt ervoor dat bij click het menu uitklapt en zichtbaar is */
nav.toonMenu ul {
    translate: 0%;

  }
  nav.toonMenu button img {
    /* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
    content:url("https://assets.codepen.io/274456/ui-icon-cross.svg");
  /*  er komt zo een kruisje als je het menu wilt sluiten!!!!!!  */
  }

nav li {
	display: block;
	flex-grow:0; 
	padding-bottom: 0.5em;
	list-style: none;
	/* bij 1 hele breedte */
}


  /***************/
  /* MENU BUTTON */
  /***************/
  nav button {
	z-index: 1100;
    padding:.5em;
    display:flex;
    align-items:center;
    gap:.25em;
    appearance:none;
    border: 1px solid;
    border-radius:.25em; 
    font:inherit;
    text-align:center;
    position:relative;
  }

/*********************/
/* ..........*/
/*********************/

  @media (min-width:38em) { 
    nav {
      
      order: 0; 
    /* dan komt die op z'n normale plek te staan (in het midden) zzoals gepositioneerd stond   */
    }
    
    nav button {
      display: none; 
     /* in beeld bij klein scherm niet bij grootscherm !!!!!!!!!! nodig voor mijn code */
    }
    
    nav ul {
		
      position: static;
      translate: none;
      background: none;
      padding: 0;
   /* nodig voor mijn code !!!!!!111 */
    } 
    
    nav li {
      flex-basis: 0;
    /* de standaard breedte    */
      flex-grow: 0;
    /* ruimte opvullen bij hoger getal dan 0 anders bij 0 niet het geval */
    }
    
    /* voor de navigatie zonder menu */
    nav a {
      border: none;
    }
    
  } 